/* Root Theme Style */
:root {
    --themeColor: rgb(132, 194, 132);
    --black: rgb(94, 94, 94);
    --white: gainsboro;
    --border-radius: 50px;
}

/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body start */
body {
    font-size: 18px;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    justify-content: flex-start;
}

/* header start */
header {
    padding: 35px;
    text-align: left;
    background: rgb(94, 94, 94);
    color: rgb(132, 194, 132);
    display: flex;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
    background-color: rgb(132, 194, 132);
    color: gainsboro;
}
/* header end */

/* nav start */
nav ul, li {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    background-color: rgb(132, 194, 132);
    text-decoration: rgb(94, 94, 94);
}

nav a {
    color: gainsboro;
    padding: 15px 20px;
    text-decoration: rgb(132, 194, 132);
    text-align: right;
    display: flex;
}

nav a:hover {
    background-color: white;
    color:rgb(132, 194, 132);
}
/* nav end */

/* main start */
main {
    display: flex;
    flex-wrap: wrap;
}

main h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}
/* main end */

/* footer start */
footer {
    width: 100%;
    bottom: 0;
    padding: 18px;
    text-align:justify;
    text-decoration: gainsboro;
    background:rgb(94, 94, 94);
    color: rgb(132, 194, 132);
    margin-top: auto;
    margin-right: 25px;
}

footer h3 {
    text-decoration-color: gainsboro;
    font-size: 1.3rem;
}
/* footer end */

/* title cards */
.title-cards {
    flex: 1;
    background-color: rgb(132, 194, 132);
    padding: 45px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
}

/* about me section */
.about-me {
    border-style: solid;
    border-radius: var(--themeColor);
    padding: 10px;
    flex: 0 0 350px;
    box-shadow: 10px 10px 5px gainsboro;
    margin: 18px;
    padding: 30px;
}

.about-me h2 {
    background-color: rgb(94, 94, 94);
    color: rgb(132, 194, 132);
    border-color: gainsboro;
    text-align: center;
}

.about-me img {
    width: 15%;
    max-width: 300px;
    align-items: center;
    position: relative;
}

.about-me p {
    display: flex;
    text-align:center;
    color:rgb(132, 194, 132);
    background-color: gainsboro;
    font-size:large;
    margin-top: 10px;
}

/* my projects section */
.my-projects {
    border-style: solid;
    border-radius: var(--themeColor);
    padding: 10px;
    flex: 0 0 350px;
    box-shadow: 10px 10px 5px gainsboro;
    margin: 18px;
}

.my-projects h2 {
    background-color: rgb(94, 94, 94);
    color: rgb(132, 194, 132);
    border-color: gainsboro;
    text-align: center;
}

.my-projects ul,li {
    margin-left: 5%;
    font-size: 100%;
    list-style: lower-greek;
}

.my-projects a {
    color: gainsboro;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(94, 94, 94);
}

.my-projects ul,li img {
    justify-content: space-between;
    display: flex;
    max-height: 300px;
    max-width: 300px;
}

.run li {
    justify-content: left;
}

.run:hover {
    background-color: rgb(94, 94, 94)
}

.refract li {
    justify-content: center;
}

.refract:hover {
    background-color: rgb(94, 94, 94);
}

.hog li {
    justify-content: right;
}

.hog img {
    size: inherit;
}

.hog:hover {
    background-color: rgb(94, 94, 94)
}

/* contact me section */
.contact-me {
    border-style: solid;
    border-radius: var(--themeColor);
    padding: 10px;
    flex: 0 0 350px;
    box-shadow: 10px 10px 5px gainsboro;
    margin: 18px;
}

.contact-me h2 {
    background-color: rgb(94, 94, 94);
    color: rgb(132, 194, 132);
    border-color: gainsboro;
    text-align: center;
}

.contact-me a {
    text-decoration: solid underline;
    color: gainsboro;
}

.contact-me img {
    justify-content: space-between;
    display: flex;
    max-height: 100px;
    max-width: 100px;
}

.cell img {
    display: block;
    flex-direction: column;
    margin: 10px auto;
    max-width: 100px;
    justify-content:left;
    position: relative;
    max-width: 100px;
    max-height: 100px;
}

.mail img {
    display: block;
    flex-direction: column;
    margin: 10px auto;
    max-width: 100px;
    justify-content: center;
    position: relative;
    max-width: 100px;
    max-height: 100px;
}

.linked img {
    display: block;
    flex-direction: column;
    margin: 10px auto;
    max-width: 100px;
    justify-content:right;
    position: relative;
    max-width: 100px;
    max-height: 100px;
}
